@media(max-width: 970px){
  .container{
  width: 324px;
  height: 324px;
  padding: 10px;
  margin: 15px auto;
  border-radius: 4px;

  display: grid;
  grid-template: repeat(5,60px) / repeat(5,60px);
  grid-gap: 6px;

  }

  section > div{
  line-height: 50px;
  font-size: 20px;
  box-shadow: 0 4px 0 rgb(177, 151, 154);
  margin:5px;
  }

  .calc-area{
  padding:10px;
  line-height: 40px;
  font-size: 25px;
  }

  .clear{
  line-height: 116px;
  }

  .equal{
  line-height: 116px;
  }
}

@media(max-width: 380px){
  .container{
  width: 258px;
  height: 400px;
  padding: 10px;
  margin: 15px auto;
  border-radius: 4px;

  display: grid;
  grid-template: repeat(6,60px) / repeat(4,60px);
  grid-gap: 6px;

  }

  section > div{
  line-height: 50px;
  font-size: 20px;
  box-shadow: 0 4px 0 rgb(177, 151, 154);
  margin:5px;
  border-radius: 4px;

  }

  .calc-area{
  padding:10px;
  line-height: 40px;
  font-size: 25px;
  border-radius: 4px;
  grid-column: 1 / span 4;
  }

  .num0{
  grid-row: 6 / span 1;
  grid-column: 1 / span 2;
  }

  .num1{
  grid-row: 5 / span 1;
  grid-column: 1 / span 1;  
  }

  .num2{
  grid-row: 5 / span 1;
  grid-column: 2 / span 1;  
  }

  .num3{
  grid-row: 5 / span 1;
  grid-column: 3 / span 1;  
  }

  .num4{
  grid-row: 4 / span 1;
  grid-column: 1 / span 1;  
  }

  .num5{
  grid-row: 4 / span 1;
  grid-column: 2 / span 1;  
  }

  .num6{
  grid-row: 4 / span 1;
  grid-column: 3 / span 1;  
  }

  .num7{
  grid-row: 3 / span 1;
  grid-column: 1 / span 1;  
  }

  .num8{
  grid-row: 3 / span 1;
  grid-column: 2 / span 1;  
  }

  .num9{
  grid-row: 3 / span 1;
  grid-column: 3 / span 1;  
  }

  .plus{
    grid-row: 2 / span 1;
    grid-column: 4 / span 1;
  }

  .minus{
    grid-row: 2 / span 1;
    grid-column: 3 / span 1;

  }

  .multiply{

  }

  .clear{
  line-height: 116px;
  grid-row: 3 / span 2;
  grid-column: 4 / span 1;
  }

  .equal{
  line-height: 116px;
  grid-row: 5 / span 2;
  grid-column: 4 / span 1;
  }

  .dot{
  grid-row: 6 / span 1;
  grid-column: 3 / span 1;
  }

}