body{
  padding: 0;
  margin: 0;
  font-family: Eurostile,"Arial Rounded MT Bold",Arial, Helvetica, sans-serif;
}

.container{
  width: 432px;
  height: 432px;
  padding: 16px;
  margin: 20px auto;
  background: rgb(27, 51, 129);
  border-radius: 4px;

  display: grid;
  grid-template: repeat(5,80px) / repeat(5,80px);
  grid-gap: 8px;

}

section > div{
  background: rgb(248, 237, 239);
  line-height: 75px;
  text-align: center;
  user-select: none;
  font-size: 25px;
  box-shadow: 0 5px 0 rgb(177, 151, 154);
  margin:5px;
  border-radius: 4px;
}

section > .calc-area{
  box-shadow:none;
  margin: 0 5px;
}

.pressed{
  box-shadow: none;
  margin-top:10px;
  margin-bottom: 0;
}


.calc-area{
  /* grid-column: 1 / 6; */
  grid-row: 1 / span 1;
  grid-column: 1 / span 5;
  text-align: right;
  padding:10px;
  line-height: 60px;
  font-size: 30px;
  /* font-weight: bold; */
}

.num0{
  grid-row: 5 / span 1;
  grid-column: 1 / span 2;
}

.num1{
grid-row: 4 / span 1;
grid-column: 1 / span 1;  
}

.num2{
grid-row: 4 / span 1;
grid-column: 2 / span 1;  
}

.num3{
grid-row: 4 / span 1;
grid-column: 3 / span 1;  
}

.num4{
grid-row: 3 / span 1;
grid-column: 1 / span 1;  
}

.num5{
grid-row: 3 / span 1;
grid-column: 2 / span 1;  
}

.num6{
grid-row: 3 / span 1;
grid-column: 3 / span 1;  
}

.num7{

}

.num8{

}

.num9{

}

.plus{
  grid-row: 3 / span 1;
  grid-column: 4 / span 1;
}

.minus{
  grid-row: 2 / span 1;
  grid-column: 4 / span 1;

}

.multiply{

}

.equal{
  line-height: 168px;
  grid-row: 4 / span 2;
  grid-column: 4 / span 1;
}

.dot{
  grid-row: 5 / span 1;
  grid-column: 3 / span 1;
}

.clear{
  line-height: 168px;
  grid-row: 4 / span 2;
  grid-column: 5 / span 1;
}

/* button{
  font-size: 18px;
  border: 1px solid blue;
} */

